@import 'tailwindcss';

@theme {
  --color-primary: #ed6a5a;
  --color-secondary: #fbdeda;
  --color-background-primary: #e6e6e6;
  --color-background-secondary: #c2c2c2;
  --color-background-base: #999999;
}
